<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login {{User}}</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" id="id_username">
        <input type="password" name="password" placeholder="password" id="id_password">
        <input type="submit" value="login" name="submit">
    </form>
    <h2>{{status}}</h2>
</body>
</html>